<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>

    @Html.DevExpress().GetStyleSheets( 
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }
    )
    @Html.DevExpress().GetScripts( 
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Dashboard }
    )
    <script>
        function onBeforeRender(sender) {
            var dashboardControl = sender.GetDashboardControl();
            dashboardControl.registerExtension(implementCustomExtension(dashboardControl));
        }
  </script>
</head>

<body>
    <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0">
        @RenderBody()
    </div>
    <script src="scripts/customExtension/icon.js"></script>
    <script src="scripts/customExtension/meta.js"></script>
    <script src="scripts/customExtension/viewer.js"></script>
    <script src="scripts/customExtension/customExtension.js"></script>
</body>
</html>